<nav class="navbar navbar-expand-md navbar-light bg-light flex-column custom-nav-ver">

    <a class="navbar-brand" href="index.html">
        <img src="images/voorbeelden/logonav.png" alt="vzwdehorizon">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavigation" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse flex-column" id="mainNavigation">

    <ul class="navbar-nav flex-column">
    <li class="nav-item active">
            <a class="nav-link" href="merk.html" title="Home">
                Homepagina
            </a>
    </li>
        <li class="nav-item">
                <a class="nav-link" href="logo.html"  title="Logo">
                    Logo
                </a>
        </li>
        <li class="nav-item dropdown ">
                <a class="nav-link" href="/1718-3CMO-BaP-sofievanspeybroeck/logo/"  title="Persoonlijkheid" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Persoonlijkheid
                </a>
        </li>
        <li class="nav-item dropdown ">
                <a class="nav-link" href="/1718-3CMO-BaP-sofievanspeybroeck/kleur/i" " title="Kleur" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tone of voice
                </a>
        </li>
        <li class="nav-item dropdown ">
                <a class="nav-link" href="/1718-3CMO-BaP-sofievanspeybroeck/kleur/i"  title="Kleur" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Kleur
                </a>
        </li>
        <li class="nav-item dropdown ">
                <a class="nav-link" href="/1718-3CMO-BaP-sofievanspeybroeck/kleur/i"  title="Kleur" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Typografie
                </a>
        </li>
        <li class="nav-item dropdown ">
                <a class="nav-link" href="/1718-3CMO-BaP-sofievanspeybroeck/kleur/i"  title="Kleur" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Iconen
                </a>
        </li>
        <li class="nav-item dropdown ">
                <a class="nav-link" href="/1718-3CMO-BaP-sofievanspeybroeck/kleur/i"  title="Kleur" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Fotomateriaal
                </a>
        </li>
    <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" href="/1718-3CMO-BaP-sofievanspeybroeck/kleur/i" id="navbarDropdown" title="Kleur" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Styleguide
                </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown" aria-hidden="true">
                
                    <a class="dropdown-item " href="/1718-3CMO-BaP-sofievanspeybroeck/kleur/" title="">
                        Grid
                    </a>

                    <a class="dropdown-item " href="/1718-3CMO-BaP-sofievanspeybroeck/kleur/" title="">
                        Formulier
                    </a>
                    <a class="dropdown-item " href="/1718-3CMO-BaP-sofievanspeybroeck/kleur/" title="">
                        Buttons
                    </a>
                    <a class="dropdown-item " href="/1718-3CMO-BaP-sofievanspeybroeck/kleur/" title="">
                        Tabel
                    </a>
                    <a class="dropdown-item " href="/1718-3CMO-BaP-sofievanspeybroeck/kleur/" title="">
                        Regels  
                    </a>
            </div>
            
            
        </li>
    </ul>

    </div>
</nav>