---
---
@charset "UTF-8";

@import "main";

.navbar-brand{
    margin-top: 10px;
    
}


.navbar{
    margin-top: 30px;
}

.navbar-nav{
    margin-top: 30px;
    margin-left: 70px;
    font-size: 14pt
}


.tekstonderdeel{
    width:100%;
    margin-left: 100px
}

.titel{
    color: #efca16;
    font-size: 50pt;
    margin-top: 110px;
    margin-bottom: 80px;
    text-align: center

}

.ondertitel{
    font-size: 18pt;
    font-weight: bold;
    text-align: center
}

.tekst{
    font-size: 15pt;
    line-height: 35px;
    color: dimgrey;
    text-align: left
}

.cover{
    width: 100%;
    background-image: url("images/voorbeelden/Cover.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer{
    color: yellow
}

.fas{
    color: yellow
}

.logografisch{
    text-align: center;
    width: 100%;
}

.logo{
    width: 100%;
    text-align: center;
    margin-left: 60px
}

.detail{
    width: 60%;
    margin-top: 150px;
    margin-left: 200px
}


