
<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page.title }} | Huistijlgids - Mijn Klant</title>
    <!-- stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"-->
    <link rel="stylesheet" href="/1718-3CMO-BaP-sofievanspeybroeck/assets/css/app.scss %}">
    <link href="https://fonts.googleapis.com/css?family=Barlow" rel="stylesheet"> 
</head>

<body data-spy="scroll" data-target="#toc">

{% include nav_hor.html %}  

<div class="container col-12">
        <main class="content">
                {{ content }}
        </main>

</div>

{% include footer.html %}
{% include scripts-bottom.html %}
</body>
</html>